{% extends 'base.html' %}

{% block content %}

<h1>Cliente</h1>

<div class="card">
  <div class="card-header">
      <strong>{{customer_record.first_name}} {{customer_record.last_name}}</strong>
    <br/>
  </div>
  <div class="card-body">

    <p class="card-text">
        <strong>Email: </strong>{{customer_record.email}}<br/>
        <strong>Telefono: </strong>{{customer_record.phone}}<br/>
        <strong>Dirección: </strong>{{customer_record.address}}<br/>
        <strong>Ciudad: </strong>{{customer_record.city}}<br/>
        <strong>Creado el: </strong>{{customer_record.created_at}}<br/>
        <strong>ID:  </strong>{{customer_record.id}}<br/>
    </p>
  </div>
</div>
<br/>
<a href="{% url 'home' %}" class="btn btn-secondary">Atras</a>
<a href="{% url 'update_record' customer_record.id %}" class="btn btn-secondary">Actualizar</a>
<a href="{% url 'delete_record' customer_record.id %}" class="btn btn-danger">Eliminar</a>




{% endblock %}